<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSSZ}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%t]){faint} %clr(%logger{39}.%M:%L){cyan} %m%n"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <jmxConfigurator/>

    <contextName>@app.name@</contextName>
    <property name="APP_NAME" value="@app.name@"/>
    <property name="LOG_PATH" value="/data/weblogs/" />

    <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%logger{0}][%method][%L][${APP_NAME},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] - %msg%n"/>


    <springProfile name="production">
        <appender name="biz-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-biz.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <ImmediateFlush>false</ImmediateFlush>
            </encoder>
        </appender>
        <appender name="biz" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>2048</queueSize>
            <includeCallerData>true</includeCallerData>
            <appender-ref ref="biz-file"/>
        </appender>

        <appender name="invoke-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-invoke.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-invoke.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <ImmediateFlush>false</ImmediateFlush>
            </encoder>
        </appender>
        <appender name="invoke" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>2048</queueSize>
            <includeCallerData>true</includeCallerData>
            <appender-ref ref="invoke-file"/>
        </appender>
    </springProfile>

    <springProfile name="!production">
        <appender name="biz" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-biz.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </encoder>
        </appender>
        <appender name="invoke" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-invoke.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-invoke.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </encoder>
        </appender>
    </springProfile>

    <appender name="biz-stat" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}-biz-stat.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz-stat.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{logId}|@project.version@|%msg%n</Pattern>
            <ImmediateFlush>false</ImmediateFlush>
        </encoder>
    </appender>

    <appender name="RocketmqClientAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}-rocketmq-client.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APP_NAME}-rocketmq-client.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
            <ImmediateFlush>false</ImmediateFlush>
        </encoder>
    </appender>

    <appender name="slow-sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}-slowsql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APP_NAME}-slowsql.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
            <ImmediateFlush>false</ImmediateFlush>
        </encoder>
    </appender>

    <appender name="error-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${APP_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-error.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <ImmediateFlush>false</ImmediateFlush>
        </encoder>
    </appender>

    <logger name="com.shuidihuzhu.log.biz" additivity="false" level="INFO">
        <appender-ref ref="biz-stat"/>
    </logger>

    <logger name="com.shuidihuzhu.ds.invoke" additivity="false" level="INFO">
        <appender-ref ref="invoke"/>
    </logger>

    <logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="true" level="INFO">
        <appender-ref ref="slow-sql"/>
    </logger>

    <logger name="RocketmqCommon" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqClientAppender"/>
    </logger>

    <logger name="RocketmqRemoting" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqClientAppender"/>
    </logger>


    <logger name="RocketmqClient" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RocketmqClientAppender"/>
    </logger>

    <springProfile name="debug">
        <logger name="com.shuidihuzhu" level="DEBUG"/>
    </springProfile>
    <!--<springProfile name="debug">-->
        <!--<logger name="org.mybatis" level="DEBUG"/>-->
    <!--</springProfile>-->

    <root level="INFO">
        <springProfile name="info">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="error-log"/>
        <appender-ref ref="biz"/>
    </root>
</configuration>
